<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="category">
	<resultMap type="com.certificate.pass.vo.MainContents" id="mainContents"></resultMap>
	<resultMap type="com.certificate.pass.vo.Category" id="category"></resultMap>
	<resultMap type="com.certificate.pass.vo.MainComments" id="mainComments"></resultMap>
	
	<select id="topItems" resultType="string">
		SELECT * FROM topItems ORDER BY topItemsSort DESC;
	</select>
	
	<select id="middleItems" parameterType="string" resultType="string">
		SELECT * FROM middleItems WHERE topItemsName = #{topItemsName} ORDER BY middleItemsSort ASC;
	</select>
	
	<select id="getCategoryList" parameterType="string" resultMap="mainContents">
		SELECT *
    	FROM
    	(
    		SELECT ROW_NUMBER() OVER(ORDER BY ${sidx} ${sord}) RowNo, a.*
    		FROM (
				SELECT * FROM mainContents WHERE topItemsName = #{topItemsName} AND middleItemsName = #{middleItemsName}
					<include refid="sqlCategory" />
			) a
		) b
    	WHERE b.RowNo between (1+(${page} - 1 ) * ${rows}) and (${page} * ${rows});
			
	</select>
	
	<select id="getCategoryListCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM mainContents WHERE topItemsName = #{topItemsName} AND middleItemsName = #{middleItemsName}
			<include refid="sqlCategory" />
	</select>
	
	<select id="getTopMenuCategoryList" resultType="string">
		SELECT topItemsName FROM topItems ORDER BY topItemsSort;
	</select>
	
	<select id="getMiddleMenuCategoryList" resultMap="category">
		SELECT * FROM middleItems ORDER BY middleItemsSort;
	</select>
	
	<select id="getMiddleTopNameList" resultType="string">
		SELECT topItemsName FROM middleItems;
	</select>
	
	<insert id="insertTopItems">
		INSERT INTO topItems(topItemsName, registrant, registrationDate)
		VALUES(#{topItemsName}, #{registrant}, #{registrationDate});
	</insert>
	
	<insert id="insertMiddleItems">
		INSERT INTO middleItems(middleItemsName, topItemsName, registrant, registrationDate)
		VALUES(#{middleItemsName}, #{topItemsName}, #{registrant}, #{registrationDate});
	</insert>
	
	<delete id="deleteTopItems">
		DELETE FROM topItems;
	</delete>
	
	<delete id="deleteMiddleItems">
		DELETE FROM middleItems;
	</delete>
	
	<insert id="insertMainContents" parameterType="mainContents" useGeneratedKeys="true" keyProperty="mainContentsKeyNum">
		INSERT INTO maincontents(topItemsName,middleItemsName,mainContentsTitle,mainContentsDetail,mainContentsCount,mainContentsRegistrant,mainContentsRegistrationDate)
		VALUES(#{topItemsName},#{middleItemsName},#{mainContentsTitle},#{mainContentsDetail},0,#{mainContentsRegistrant},#{mainContentsRegistrationDate});
	</insert>
	
	<select id="getMainContentsOne" parameterType="_int" resultMap="mainContents">
		SELECT * FROM mainContents WHERE mainContentsKeyNum = #{mainContentsKeyNum};
	</select>
	
	<delete id="delMainContents">
		DELETE FROM mainContents WHERE mainContentsKeyNum = #{mainContentsKeyNum};
	</delete>
	
	<insert id="insertMainComments">
		INSERT INTO mainComments(mainCommentsParentKeyNum,mainContentsKeyNum,mainCommentsDepth,mainCommentsContents,mainCommentsName,mainCommentsPassword,mainCommentsDate,mainCommentsSecret,mainCommentsRegistrant,mainCommentsRegistrationDate)
		VALUES(0,#{mainContentsKeyNum},0,#{mainCommentsContents},#{mainCommentsName},#{mainCommentsPassword},#{mainCommentsDate},#{mainCommentsSecret},#{mainCommentsRegistrant},#{mainCommentsRegistrationDate});
	</insert>
	
	<select id="getMainCommentsList" parameterType="_int" resultMap="mainComments">
		SELECT * FROM mainComments WHERE mainContentsKeyNum = #{mainContentsKeyNum} ORDER BY mainCommentsKeyNum; 
	</select>
	
	<select id="getMainCommentsOne" parameterType="_int" resultMap="mainComments">
		SELECT * FROM mainComments WHERE mainCommentsKeyNum = #{mainCommentsKeyNum};
	</select>
	
	<insert id="insertMainCommentsReply">
		INSERT INTO mainComments(mainCommentsParentKeyNum,mainContentsKeyNum,mainCommentsDepth,mainCommentsContents,mainCommentsName,mainCommentsPassword,mainCommentsDate,mainCommentsSecret,mainCommentsRegistrant,mainCommentsRegistrationDate)
		VALUES(#{mainCommentsParentKeyNum},#{mainContentsKeyNum},#{mainCommentsDepth},#{mainCommentsContentsDialog},#{mainCommentsNameDialog},#{mainCommentsPasswordDialog},#{mainCommentsDate},#{mainCommentsSecretDialog},#{mainCommentsRegistrant},#{mainCommentsRegistrationDate});
	</insert>
	
	<delete id="mainCommentsDelete" parameterType="_int">
		DELETE FROM mainComments WHERE mainCommentsKeyNum = #{mainCommentsKeyNum};
	</delete>
	
	<update id="mainCommentsUpdate">
		UPDATE mainComments SET mainCommentsContents = #{mainCommentsContentsDialog}, mainCommentsName = #{mainCommentsNameDialog}, mainCommentsSecret = #{mainCommentsSecretDialog}, mainCommentsDate = #{mainCommentsDate} 
		WHERE mainCommentsKeyNum = #{mainCommentsKeyNum};
	</update>
	
	<delete id="mainCommentsChildDelete" parameterType="_int">
		DELETE FROM mainComments WHERE mainCommentsParentKeyNum = #{mainCommentsKeyNum};
	</delete>
	
	<delete id="delMainContentsComments" parameterType="_int">
		DELETE FROM mainComments WHERE mainContentsKeyNum = #{mainContentsKeyNum};
	</delete>
	
	<update id="countPlus" parameterType="_int">
		UPDATE mainContents SET mainContentsCount = mainContentsCount + 1 WHERE mainContentsKeyNum = #{mainContentsKeyNum};
	</update>
	
	<update id="updateMainContents">
		UPDATE mainContents SET mainContentsTitle = #{mainContentsTitle}, mainContentsDetail = #{mainContentsDetail}
		WHERE  mainContentsKeyNum = #{mainContentsKeyNum};
	</update>
	
	<select id="beforePageMove" resultType="_int">
		<![CDATA[
		SELECT MIN(mainContentsKeyNum) FROM maincontents
		WHERE topItemsName = #{topItemsName} AND middleItemsName = #{middleItemsName}
		AND mainContentsKeyNum > #{mainContentsKeyNum};
		]]>
	</select>
	
	<select id="nextPageMove" resultType="_int">
		<![CDATA[
		SELECT MAX(mainContentsKeyNum) FROM maincontents
		WHERE topItemsName = #{topItemsName} AND middleItemsName = #{middleItemsName}
		AND mainContentsKeyNum < #{mainContentsKeyNum};
		]]>		 
	</select>
	
	<select id="getFavoritesCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM favorites
		WHERE mainContentsKeyNum = #{mainContentsKeyNum};
	</select>
	
	<insert id="favoritesPlus">
		INSERT INTO favorites(usersId,mainContentsKeyNum,favoritesIp,favoritesRegistrant,favoritesRegistrationDate)
		VALUES(#{usersId},#{mainContentsKeyNum},#{favoritesIp},#{favoritesRegistrant},#{favoritesRegistrationDate});
	</insert>
	
	<delete id="favoritesMinus">
		DELETE FROM favorites WHERE usersId = #{usersId} AND mainContentsKeyNum = #{mainContentsKeyNum} AND favoritesIp = #{favoritesIp};
	</delete>
	
	<select id="getFavoritesUsers" resultType="_int">
		SELECT COUNT(*) FROM favorites WHERE usersId = #{usersId} AND mainContentsKeyNum = #{mainContentsKeyNum} AND favoritesIp = #{favoritesIp};
	</select>
	
	<insert id="insertConnectUser">
		INSERT INTO connectUser(connectUserIp, connectUserPort)
		VALUES(#{connectUserIp}, #{connectUserPort});
	</insert>
	
	<!-- ==================================================================================== -->
	
	<sql id="sqlCategory">
		<if test="mainContentsTitle != null and mainContentsTitle != ''">
			AND mainContentsTitle LIKE CONCAT('%',#{mainContentsTitle},'%')
		</if>
	</sql>
</mapper>