@charset "UTF-8";

body {
	margin: 0; 
	background-color:white;
}

a { 
	text-decoration-line: none;
	font-family: none;
}

span {
	font-size: auto;
}

.ui-widget.ui-widget-content {
	width:auto !important;
	top: 22% !important;
}


.formControl {
	display: inline-block;
    height: 43px;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    background-color: white;
    box-shadow: none;
    border: 2px solid #ccc;
}


.footerMenu {
	width: 100%;
    border-top: 1px solid lightgray;
    height: 100px;
    float: left;
}

.btnBlock {
	display: block;
    width: 100%;
}

.btnPrimary {
	background-color: black;
    color: #fff;
    cursor: pointer;
}

.btnDarkgreen {
	background-color: #555555;
    color: #fff;
    border: 1px solid black !important;
    cursor: pointer;
}

.btnDarkgreen:hover {
	background-color: gray;
}

.btnRed {
	background-color: #f79b9b;
    color: #fff;
    border-radius: 5px;
    background-color: #F73D24;
    border: 1px solid #F73D24;
    cursor: pointer;
}

.btnBlue {
	background-color: white;
    border: 1px solid #2FAFF3;
    border-radius: 5px;
    color: #2FAFF3;
    cursor: pointer;
}

.btnRed:hover {
	background-color: #fca9a9;
}

.btnBlue:hover {
	background-color: #e0f4ff;
}

.btnPrimary:hover {
	background-color: #555555;
}

.btnDefault {
	background-color: white;
}

.btnDefault:hover {
	background-color: #e4e4e4;
}

input#check_btn{
	display:none;
}

input#check_btn + label{
	cursor:pointer;
}

input#check_btn + label > span{
	vertical-align: middle;
	padding-left: 5px;
}

/* label:before�뿉 泥댄겕�븯湲� �쟾 �긽�깭 CSS */
input#check_btn + label:before{
	content:"";
	display:inline-block;
	width:17px;
	height:17px;
	border:2px solid #93AAFF;
	border-radius: 4px;
	vertical-align:middle;
}
  
/* label:before�뿉 泥댄겕 �맂 �긽�깭 CSS */  
input#check_btn:checked + label:before{
	content:"";
	background-color:#93AAFF;
	border-color:#93AAFF;
	background-image: url('check_btn.png');
	background-repeat: no-repeat;
	background-position: 50%;
}

.topMenuLi {
	padding: 0.7em 20px;
    width: 100%;
    padding-left: 20px;
    list-style-type: none;
    margin-left: -40px;
}

.topMenuLi:hover {
	background: #CADFCA;
}

.mainMenu {
	color: white;
    float: left;
    margin: 17px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.mainMenuMobile {
	color: black;
    padding: 15px;
    cursor: pointer;
    display: block;
}

.mainMenu:hover {
	color: silver;
}

.mediumMenu {
	margin: 30px;
	cursor: pointer;
	color: black;
	font-size: 15px;
	text-decoration: none;
}

.mediumMenu:hover {
	color: gray;
}

.active {
	font-weight: bold;
    border-bottom: 7px solid white;
    padding-bottom: 15px;
}

.activeMobile {
	font-weight: bold;
    color: white;
    background: #a1d7a1;
}

.activeSub {
	font-weight: bold;
    color: #327a68;
}

.activeSubMobile {
	font-weight: bold;
    color: white !important;
    background: #adcdad;
}

a.button {
	display: block;
	position: relative;
	float: left;
	width: 75px;
	padding: 0;
	margin: 10px 20px 10px 0;
	font-weight: 600;
	text-align: center;
	line-height: 30px;
	font-size: 15px;
	color: #FFF;
	border-radius: 5px;
	transition: all 0.2s ;
}

.btnBlueGreen {
	background: #00AE68;
}

.btnBlueGreen.btnPush {
	box-shadow: 0px 5px 0px 0px #007144;
}

.btnPush:hover {
	margin-top: 15px;
	margin-bottom: 5px;
}

.btnBlueGreen.btnPush:hover {
	box-shadow: 0px 0px 0px 0px #007144;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-find {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */                          
}

.col-lg-12 {
    float: left;
    width: 100%;
    margin: 5px;
}

.divBox {
    background: white;
    border: 1px solid #ddd;
    border-top: 1px solid #0A8FFF;
    display: inline-block;
    width: 96%;
    padding: 2%;
    border-right: 0;
    border-left: 0;
}

.colorRed {
    color: red !important;
}

.inputMaterial {
    display: inline-block;
    height: 43px;
    width: 99%;
    border: none;
    border-radius: 0 !important;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.formGroup {
    margin-bottom: 1.25em;
}

.width90 {
	width: 90%;
}

.width100 {
	width: 100%;
}

.textAlignCenter {
	text-align: center;
}


table {
	border-collapse: collapse;
}

.comment-form {
	margin-top: 2%;
}


.secret {
	position: relative;
    float: left;
    bottom: 8px;
}

.commentSend:hover {
	background: black;
}

.commentView {
	border-top: 1px solid #ddd;
    padding-top: 10px;
    display: inline-block;
    width: 100%;
    /* margin-top: 2%; */
}

.commentsName {
	font-weight: 700;
    color: #555;
}

.commentsDate {
	position: relative;
    margin-bottom: 7px;
    padding: 2px 0 0 60px;
    font-size: 0.8125em;
    color: #999;
}

.commentsUpdateLink {
	display: none;
    position: absolute;
    top: 100%;
    left: -70px;
    width: 70px;
    text-align: center;
}

.commentsUpdateA {
	display: block;
    margin-top: -1px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    text-decoration: none;
    font-size: 0.7em;
    line-height: 1.2rem;
    width: 65px;
    color: #333;
}

.commentsUpdateA:hover {
	color: #f55f5f;
}

.commentsReply:hover {
	color: #819ee4;
}

.commentHeadDialog {
	float: left;
    width: 50%;
    padding: 12px 16px;
    border: 1px solid #ddd;
    font-size: 0.775em !important;
    border-bottom: 0px;
    color: #777;
    box-sizing: border-box;
}

.commentUpdateDialog {
	float: left;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #ddd;
    font-size: 0.775em !important;
    color: #777;
    box-sizing: border-box;
}

.commentBodyDialog {
	display: block;
    width: 270px;
    padding: 16px 16px 16px 16px;
    border: 1px solid #ddd;
    font-size: 0.75em !important;
    color: #777;
    box-sizing: border-box;
    resize: none;
    font-family: 'Noto Sans KR', sans-serif !important;
}

.commentDiv {
	background: #f5ffe147;
    margin-top: 2%;
    padding-left: 1%;
}

.commentSecretDialog {
	font-size: 15px;
}

.btn-sm {
    padding: 8px 14px !important;
    line-height: 16px !important;
    height: 40px;
    font-size: 11px !important;
}

.note-icon-caret {
	margin-left: -5px;
}

.btn i {
    margin-right: 5px;
}

.note-current-fontname {
	margin-right: 5px;
	font-size: 12px;
}

.contentsViewBtn {
	float: right; 
}

.pageMove:hover {
	color: #ff9494;
}

@media (min-width: 1024px) and (max-width: 2000px) {
	.mainTitle{
		font-size: 25px;
	    font-weight: 600;
	    margin-top: 4%;
    	margin-bottom: 3%;
	}
	
	.middleBtn {
		width: 80px; 
		height: 30px; 
		float: right; 
		margin: 2px;
	}
	
	p {
		font-family: math;
		font-size: 14px;
	}
	
	.leftMenu {
	    height: 100%;
	    width: 19%;
	    float: left;
	    text-align: center;
	    margin-top: 1%;
	    overflow: hidden;
	}
	
	.rightMenu {
		height: 100%;
	    width: 19%;
	    float: right;
	    text-align: center;
	    margin-top: 1%;
	    overflow: hidden;
	}
	
	.mainDiv {
		float: left;
	    padding: 1%;
	    width: 59%;
	    border-left: 1px solid lightgray;
	    border-right: 1px solid lightgray;
	    overflow: hidden;
	    min-height: 1150px;
	}
	
	.pageMove {
		color: black;
	    font-weight: bold;
	    font-size: 15px;
	}
	
	.secret {
		position: relative;
	    float: left;
	    bottom: 8px;
	    font-size: 15px;
	}
	
	.commentHead {
		float: left;
	    width: 25%;
	    padding: 12px 16px;
	    border: 0;
	    border: 1px solid #ddd;
	    border-bottom: 0px;
	    font-size: 0.875em;
	    color: #777;
	    box-sizing: border-box;
	}
	
	.commentBody {
		display: block;
	    width: 100%;
	    margin-bottom: 20px;
	    padding: 16px 100px 16px 16px;
	    border: 1px solid #ddd;
	    font-size: 0.875em;
	    color: #777;
	    box-sizing: border-box;
	    resize: none;
	    font-family: 'Noto Sans KR', sans-serif;
	}
	
	.commentsContents {
		max-width: 85%;
	    padding: 0 0 0 0;
	    font-size: 0.875em;
	    line-height: 1.3125rem;
	    color: #777;
	    box-sizing: border-box;
	}
	
	.commentsReply {
		position: relative;
	    margin-bottom: 7px;
	    padding: 2px 0 0 30px;
	    font-size: 0.7525em;
	    color: #e48181
	}
	
	.commentSend {
		position: relative;
	    float: right;
	    bottom: 8px;
	    background: #868686;
	    color: white;
	    width: 100px;
	    height: 30px;
	    border: 1px solid #868686;
	}
	
	.commentsUpdate {
		position: absolute;
	    right: 22%;
	    margin-top: -20px;
	}
	
	.mainDate {
		float: right; 
		font-size: 14px; 
		color: gray;
	}
	
	.mainMenuDiv {
		display: block;
	}
	
	.subMenu {
	    margin-top: 15px;
		width: 100%; 
		height: 40px; 
		background-color: white; 
		padding: 0px;
		box-shadow: 0px 5px 5px darkgrey; 
		display:none; 
		overflow: hidden;
	}
	
	.mainLogo {
		float: left; 
		width: 140px; 
		margin-top: 15px; 
		margin-right: 20px; 
		margin-left: 20%;
	}
	
	.mobileMenu {
		display: none;
	}
	
	.loginId {
		float: right; 
		color: white; 
		font-size: 18px; 
		margin: 14px;
	}
	
	.logoutProfile {
		float: right; 
		width: 12px; 
		margin-top: 23px;
	}
	
	.profileTriggle {
		width: 28px; 
		margin: 10px; 
		position: absolute; 
		right: 44px; 
		transform: translateY(-34px);
	}
	
	.topMenuUl {
		border-radius: 5px;
	    background-color: darkseagreen;
	    width: 13em;
	    transform: translateY(50px);
	    position: absolute;
	    right: 5px;
	}
	
	.topMenuA {
	    font-size: 15px;
	    color: white;
	    text-decoration: none;
	    background-color: transparent;
	    cursor: pointer;
	    display: block;
	    padding: 0 0.6rem;
	    touch-action: manipulation;
	}
	
	.mobileSubMenu {
		display: none;
	}
	
	.seachInput {
		width: 85%;
	    height: 30px;
	    padding-inline: 5px;
	    margin-right: 5%;
	}
	
	.labelFontSize {
		font-size: 13px;
		width: 100%;
	}
	
	.btnm {
	    display: inline-block;
	    min-width: 100px;
	    height: 35px;
	    line-height: 1;
	    text-align: center;
	    vertical-align: middle;
	    margin-right: 10px;
	    border: 1px solid black;
	    border-radius: 5px;
	}
	
	.categoryBtn {
		width: 100px;
	}
	
	.selectInput {
		height: 34px;
	}
	
	.table-bordered > tbody > tr > td {
		border: 1px solid #ddd;
		padding: 10px;
	    font-size: 12px;
	}
	
	.loginImg {
		width: 50px; 
		float: right; 
		margin-right: 20%; 
		margin-top: 5px;
	}
	
	.index_lesson {
		display: block;
	    font-size: 1.17em;
	    margin-block-start: 1em;
	    margin-block-end: 1em;
	    font-weight: bold;
	}
	
	.index_div{
		margin-top: 1%;
    	text-align: left;
    	margin-left: 25%;
    	margin-right: 25%;
		border-bottom: 1px solid #ebebeb;
    	padding-bottom: 2%;
	}
	
	.index_title {
		display: block;
    	font-weight: normal;
    	font-size: 28px;
    	text-overflow: ellipsis;
    	overflow: hidden;
    	white-space: nowrap;
		color: black;
	}
	
	.index_txt {
		display: -webkit-box;
    	display: -ms-flexbox;
    	display: box;
    	overflow: hidden;
    	max-height: 80px;
    	margin-top: 1px;
    	font-size: 16px;
    	line-height: 28px;
    	color: #666;
    	vertical-align: top;
    	word-break: break-all;
    	-webkit-box-orient: vertical;
    	-webkit-line-clamp: 3;
	}
	
	.index_list {
		font-size: 20px;
    	font-weight: bold;
    	color: #3db39e;
	}
	
	.right_area {
	    margin-top: 2%;
	    margin-bottom: 2%;
	    text-align: center;
	    width: 60px;
	    padding: 7px;
	    border: 1px solid #d7d7d7;
	    border-radius: 50px;
	}
	
	.favoritesCount {
		float: initial; 
		margin-left: 20%;
		font-size: 15px;
	}
	
	.favorites {
		width: 15px; 
		height: 15px; 
		margin: 2px; 
		padding-left: 10px;
	}
	
	.scrollToTop {
        position: fixed;
        bottom: 1%;
        right: 16%;
        padding: 10px;
        background-color: #83c597;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    
    .login_idpw {
		width:350px; 
		padding-inline: 10px;	
	}
	
	.login_btn {
		border: none; 
		width: 375px; 
		height: 50px;
	}
	
	.login_kakao {
		width: 375px;
	}
	
	.login_save {
		margin-top: 10px; 
		width: 375px; 
		text-align: left;
	}
	
	.index_div .thumbnail_post {
	    float: right;
	    height: 148px;
	    width: 148px;
	    margin: 4px 0 4px 30px;
	}
	
	.index_contentImg {
		height: 110px;
    	width: 110px;
    	margin-left: 10%;
	}
	
	.profileInput {
		width: 400px;
	    font-size: 12px !important;
    	padding: 10px;
		font-family: math !important;
	}
	
	.col-lg-2 {
		float: left;
	    width: 25%;
    	height: 70px;
    	margin: 0px;
	}
	
	.selectSearch {
		height: 34px; 
		width: 98%;
	}
	
	.mypageContainer {
		margin: 2%; 
		margin-left: 20%; 
		margin-right: 20%; 
		height: 700px;
	}
	
	.employeeUpdateBtn {
		float: right; 
		margin-right: 10%; 
		width: 20%;	
		height: 40px;
	}
}

@media (min-width: 0px) and (max-width: 1024px) {
	span {
		font-size: 10px;
	}
	
	tr>td>div>div {
		font-size: 10px;
	}
	
	.mainTitle{
		font-size: 14px;
	    font-weight: 600;
	    margin-top: 4%;
    	margin-bottom: 3%;
	}
	
	.middleBtn {
		width: 35px;
	    height: 25px;
	    float: right;
	    margin: 1px;
	    font-size: 10px;
	}
	
	p {
		font-family: math;
		font-size: 10px;
	}
	
	.leftMenu {
		display: none;
	}
	
	.rightMenu {
		display: none;
	}
	
	.mainDiv {
	    padding: 1%;
	    width: 98%;
	    overflow: hidden;
	}
	
	.pageMove {
		color: black;
	    font-weight: bold;
	    font-size: 11px;
	}
	
	.secret {
		position: relative;
	    float: left;
	    bottom: 8px;
	    font-size: 12px;
	}
	
	.commentHead {
		float: left;
	    width: 25%;
	    padding: 12px 16px;
	    border: 0;
	    border: 1px solid #ddd;
	    border-bottom: 0px;
	    font-size: 0.675em;
	    color: #777;
	    box-sizing: border-box;
	}
	
	.commentBody {
		display: block;
	    width: 100%;
	    margin-bottom: 20px;
	    padding: 16px 100px 16px 16px;
	    border: 1px solid #ddd;
	    font-size: 0.675em;
	    color: #777;
	    box-sizing: border-box;
	    resize: none;
	    font-family: 'Noto Sans KR', sans-serif;
	}
	
	.commentsContents {
		max-width: 85%;
	    padding: 0 0 0 0;
	    font-size: 0.775em;
	    line-height: 1.3125rem;
	    color: #777;
	    box-sizing: border-box;
	}
	
	.commentsReply {
		position: relative;
	    margin-bottom: 7px;
	    padding: 2px 0 0 30px;
	    font-size: 0.6525em;
	    color: #e48181
	}
	
	.commentSend {
		position: relative;
	    float: right;
	    bottom: 8px;
	    background: #868686;
	    color: white;
	    width: 60px;
	    height: 25px;
	    font-size: 11px;
	    border: 1px solid #868686;
	}
	
	.commentsUpdate {
		position: absolute;
	    right: 3%;
	    margin-top: -20px;
	}
	
	.mainDate {
		float: right; 
		font-size: 11px; 
		color: gray;
	}
	
	.mainMenuDiv {
		display: none;
	}
	
	.subMenu {
		display: none;
	}
	
	.mediumMenu {
		display: none;
	}
	
	.mainLogo {
		float: left; 
		width: 100px; 
		margin-top: 20px; 
		margin-right: 20px; 
		margin-left: 3%;
	}
	
	.mobileMenu {
		width: 20px;
    	margin-top: 22px;
		float: left;
	}
	
	.profile {
		display: none;
	}
	
	.loginId {
		float: right; 
		color: white; 
		font-size: 15px; 
		margin: 20px;
	}
	
	.logoutProfile {
		float: right; 
		width: 10px; 
		margin-top: 25px;
	}
	
	.profileTriggle {
		width: 26px;
    	margin: 10px;
    	position: absolute;
    	right: 15px;
    	transform: translateY(-32px);
	}
	
	.topMenuUl {
		border-radius: 5px;
	    background-color: darkseagreen;
	    width: 7em;
	    transform: translateY(50px);
	    position: absolute;
	    right: 5px;
	}
	
	.topMenuA {
	    font-size: 12px;
	    color: white;
	    text-decoration: none;
	    background-color: transparent;
	    cursor: pointer;
	    display: block;
	    padding: 0 0.6rem;
	    touch-action: manipulation;
	}
	
	.mobileSubMenu {
		background: white;
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    z-index: 10;
	    overflow: auto;
	}
	
	.seachInput {
		width: 85%;
	    height: 20px;
	    font-size: 12px;
	    margin-right: 5%;
	}
	
	.labelFontSize {
		font-size: 11px;
		width: 100%;
	}
	
	.btnm {
	    display: inline-block;
	    min-width: 60px;
	    height: 25px;
	    line-height: 1;
	    text-align: center;
	    vertical-align: middle;
	    margin-right: 10px;
	    border: 1px solid black;
	    border-radius: 5px;
	}
	
	.categoryBtn {
		width: 70px !important;
    	height: 25px;
    	font-size: 10px;
	}
	
	.selectInput {
		height: 24px;
	}
	
	.table-bordered > tbody > tr > td {
		border: 1px solid #ddd;
		padding: 5px;
	    font-size: 10px;
	}
	
	.loginImg {
		width: 40px;
    	float: right;
    	margin-right: 5%;
    	margin-top: 10px;
	}
	
	.index_lesson {
		display: block;
	    font-size: 0.9em;
	    margin-block-start: 1em;
	    margin-block-end: 1em;
	    font-weight: bold;
	    margin-left: -12%;
	}
	
	.index_div{
		margin-top: 1%;
    	text-align: left;
    	margin-left: 10%;
    	margin-right: 10%;
		border-bottom: 1px solid #ebebeb;
    	padding-bottom: 2%;
	}
	
	.index_title {
		display: block;
    	font-weight: normal;
    	font-size: 15px;
    	text-overflow: ellipsis;
    	overflow: hidden;
    	white-space: nowrap;
		color: black;
	}
	
	.index_txt {
		display: -webkit-box;
    	display: -ms-flexbox;
    	display: box;
    	overflow: hidden;
    	max-height: 50px;
    	margin-top: 1px;
    	font-size: 12px;
    	line-height: 28px;
    	color: #666;
    	vertical-align: top;
    	word-break: break-all;
    	-webkit-box-orient: vertical;
    	-webkit-line-clamp: 3;
	}
	
	.index_list {
		font-size: 15px;
    	font-weight: bold;
    	color: #3db39e;
	}
	
	.right_area {
	    margin-top: 2%;
	    margin-bottom: 2%;
	    text-align: center;
	    width: 50px;
	    padding: 2px;
	    border: 1px solid #d7d7d7;
	    border-radius: 50px;
	}
	
	.favoritesCount {
		float: initial; 
		margin-left: 50%;
		font-size: 11px !important;
		display: block;
	}
	
	.favorites {
		width: 10px !important;
	    height: 10px !important;
	    margin: 4px;
	    padding-left: 10px;
	}
	
	table > tbody > tr > td > div {
		font-size: 10px;
	}
	
	table > tbody > tr > td {
		font-size: 10px;
	}
	
	.scrollToTop {
        position: fixed;
	    bottom: 1%;
	    right: 1%;
	    padding: 5px;
	    background-color: #83c597;
	    color: #fff;
	    border: none;
	    cursor: pointer;
	    font-size: 10px;
    }
    
    .login_idpw {
		width:280px; 
		padding-inline: 10px;	
	}
	
	.login_btn {
		border: none; 
		width: 305px; 
		height: 50px;
	}
	
	.login_kakao {
		width: 305px;
	}
	
	.login_save {
		margin-top: 10px; 
		width: 305px; 
		text-align: left;
	}
	
	.index_div .thumbnail_post {
	    float: right;
	    height: 60px;
	    width: 60px;
	    margin: 8px 0 8px 20px;
	}
	
	.index_contentImg {
		height: 60px;
	    width: 60px;
	}
	
	.profileInput {
		width: 250px;
	    font-size: 12px !important;
    	padding: 10px;
		font-family: math !important;
	}
	
	.col-lg-2 {
		float: left;
	    width: 50%;
	    height: 50px;
	    margin: 0px;
	}
	
	.selectSearch {
		height: 26px; 
		width: 87%;
	}
	
	.mypageContainer {
		margin: 2%; 
		height: 700px;
	}
	
	.employeeUpdateBtn {
		float: right;
	    margin-right: 10%;
	    width: 45%;
	    height: 30px;
	    font-size: 10px;
	}
}

.mediumMenuMobile {
	color: black;
    padding: 15px;
    cursor: pointer;
    display: block;
    border-bottom: 1px solid #ddd;
}

.inputDisable {
	background-color: #dfdfdf;
}

