@charset "UTF-8";

body {
	margin: 0; 
	background-color:white;
}

a { 
	text-decoration-line: none;
	font-family: none;
}

span {
	font-size: auto;
}

p {
	font-family: math;
	/* padding: 10px; */
}
.formControl {
	display: inline-block;
    height: 43px;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    background-color: white;
    box-shadow: none;
    border: 2px solid #ccc;
}

.leftMenu {
    height: 1000px;
    width: 19%;
    float: left;
}

.rightMenu {
	height: 1000px;
    width: 19%;
    float: right;
}

.footerMenu {
	width: 100%;
    border-top: 1px solid lightgray;
    height: 100px;
    float: left;
}

.btnBlock {
	display: block;
    width: 100%;
}

.btnPrimary {
	background-color: black;
    color: #fff;
    cursor: pointer;
}

.btnDarkgreen {
	background-color: #42855B;
    color: #fff;
    border: 1px solid #42855B !important;
    cursor: pointer;
}

.btnDarkgreen:hover {
	background-color: #84bf9a;
}

.btnRed {
	background-color: #f79b9b;
    color: #fff;
    border-radius: 5px;
    background-color: #F73D24;
    border: 1px solid #F73D24;
    cursor: pointer;
}

.btnBlue {
	background-color: white;
    border: 1px solid #2FAFF3;
    border-radius: 5px;
    color: #2FAFF3;
    cursor: pointer;
}

.btnRed:hover {
	background-color: #fca9a9;
}

.btnBlue:hover {
	background-color: #e0f4ff;
}

.btnPrimary:hover {
	background-color: #555555;
}

.btnDefault {
	background-color: white;
}

.btnDefault:hover {
	background-color: #e4e4e4;
}

input#check_btn{
	display:none;
}

input#check_btn + label{
	cursor:pointer;
}

input#check_btn + label > span{
	vertical-align: middle;
	padding-left: 5px;
}

/* label:before에 체크하기 전 상태 CSS */
input#check_btn + label:before{
	content:"";
	display:inline-block;
	width:17px;
	height:17px;
	border:2px solid #93AAFF;
	border-radius: 4px;
	vertical-align:middle;
}
  
/* label:before에 체크 된 상태 CSS */  
input#check_btn:checked + label:before{
	content:"";
	background-color:#93AAFF;
	border-color:#93AAFF;
	background-image: url('check_btn.png');
	background-repeat: no-repeat;
	background-position: 50%;
}

.topMenuUl {
	border-radius: 5px;
    background-color: darkseagreen;
    width: 13em;
    transform: translateY(50px);
    position: absolute;
    right: 330px;
}

.topMenuLi {
	padding: 0.7em 20px;
    width: 100%;
    padding-left: 20px;
    list-style-type: none;
    margin-left: -40px;
}

.topMenuLi:hover {
	background: #CADFCA;
}

.topMenuA {
    font-size: 15px;
    color: white;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
    padding: 0 0.6rem;
    touch-action: manipulation;
}

.topMenuLogin {
	float: right;
    margin: 17px;
    margin-right: 400px;
    background-color: white;
    color: black;
    width: 75px;
    height: 25px;
}

.topMenuLogin:hover {
	background-color: silver;
}

.mainMenu {
	color: white;
    float: left;
    margin: 17px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.mainMenu:hover {
	color: silver;
}

.mediumMenu {
	margin: 30px;
	cursor: pointer;
	color: black;
	font-size: 15px;
	text-decoration: none;
}

.mediumMenu:hover {
	color: gray;
}

.active {
	font-weight: bold;
    border-bottom: 7px solid white;
    padding-bottom: 15px;
}

.activeSub {
	font-weight: bold;
    color: #42855B;
}

a.button {
	display: block;
	position: relative;
	float: left;
	width: 75px;
	padding: 0;
	margin: 10px 20px 10px 0;
	font-weight: 600;
	text-align: center;
	line-height: 30px;
	font-size: 15px;
	color: #FFF;
	border-radius: 5px;
	transition: all 0.2s ;
}

.btnBlueGreen {
	background: #00AE68;
}

.btnBlueGreen.btnPush {
	box-shadow: 0px 5px 0px 0px #007144;
}

.btnPush:hover {
	margin-top: 15px;
	margin-bottom: 5px;
}

.btnBlueGreen.btnPush:hover {
	box-shadow: 0px 0px 0px 0px #007144;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-find {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */                          
}

.col-lg-2 {
	float: left;
    width: 25%;
    height: 70px;
    margin: 0px;
}

.col-lg-12 {
    float: left;
    width: 100%;
    margin: 5px;
}

.btnm {
    display: inline-block;
    min-width: 100px;
    height: 35px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.seachInput {
	width: 85%;
    height: 30px;
    padding-inline: 10px;
}

.labelFontSize {
	font-size: 13px;
	width: 100%;
}

.divBox {
    background: white;
    border: 1px solid #ddd;
    border-top: 1px solid #0A8FFF;
    display: inline-block;
    width: 96%;
    padding: 2%;
}

.colorRed {
    color: red !important;
}

.inputMaterial {
    display: inline-block;
    height: 43px;
    width: 99%;
    border: none;
    border-radius: 0 !important;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.formGroup {
    margin-bottom: 1.25em;
}

.subMenu {
	width: 100%; 
	height: 40px; 
	background-color: white; 
	padding: 0px;
	box-shadow: 0px 3px 5px darkgrey; 
	display:none; 
	overflow: hidden;
	/* padding-left: 28%; */
}

.width90 {
	width: 90%;
}

.mainDiv {
	float: left;
    padding: 1%;
    width: 59%;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.width100 {
	width: 100%;
}

.textAlignCenter {
	text-align: center;
}

.middleBtn {
	width: 80px; 
	height: 30px; 
	float: left; 
	margin: 2px;
}

table {
	border-collapse: collapse;
}

.comment-form {
	margin-top: 2%;
}

.commentHead {
	float: left;
    width: 25%;
    padding: 12px 16px;
    border: 0;
    border: 1px solid #ddd;
    border-bottom: 0px;
    font-size: 0.875em;
    color: #777;
    box-sizing: border-box;
}

.commentBody {
	display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 16px 100px 16px 16px;
    border: 1px solid #ddd;
    font-size: 0.875em;
    color: #777;
    box-sizing: border-box;
    resize: none;
    font-family: 'Noto Sans KR', sans-serif;
}

.secret {
	position: relative;
    float: left;
    bottom: 8px;
}

.commentSend {
	position: relative;
    float: right;
    bottom: 8px;
    background: #868686;
    color: white;
    width: 100px;
    height: 30px;
    border: 1px solid #868686;
}

.commentSend:hover {
	background: black;
}

.commentView {
	border-top: 1px solid #ddd;
    padding-top: 10px;
    display: inline-block;
    width: 100%;
    /* margin-top: 2%; */
}

.commentsName {
	font-weight: 700;
    color: #555;
}

.commentsDate {
	position: relative;
    margin-bottom: 7px;
    padding: 2px 0 0 60px;
    font-size: 0.8125em;
    color: #999;
}

.commentsUpdate {
	position: absolute;
    right: 22%;
    margin-top: -20px;
}

.commentsUpdateLink {
	display: none;
    position: absolute;
    top: 100%;
    left: -70px;
    width: 70px;
    text-align: center;
}

.commentsUpdateA {
	display: block;
    margin-top: -1px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    text-decoration: none;
    font-size: 0.7em;
    line-height: 1.2rem;
    width: 65px;
    color: #333;
}

.commentsUpdateA:hover {
	color: #f55f5f;
}

.commentsContents {
	max-width: 85%;
    padding: 0 0 0 0;
    font-size: 0.875em;
    line-height: 1.3125rem;
    color: #777;
    box-sizing: border-box;
}

.commentsReply {
	position: relative;
    margin-bottom: 7px;
    padding: 2px 0 0 30px;
    font-size: 0.7525em;
    color: #e48181
}

.commentsReply:hover {
	color: #819ee4;
}

.commentHeadDialog {
	float: left;
    width: 50%;
    padding: 12px 16px;
    border: 1px solid #ddd;
    font-size: 0.775em !important;
    border-bottom: 0px;
    color: #777;
    box-sizing: border-box;
}

.commentUpdateDialog {
	float: left;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #ddd;
    font-size: 0.775em !important;
    color: #777;
    box-sizing: border-box;
}

.commentBodyDialog {
	display: block;
    width: 100%;
    padding: 16px 16px 16px 16px;
    border: 1px solid #ddd;
    font-size: 0.75em !important;
    color: #777;
    box-sizing: border-box;
    resize: none;
    font-family: 'Noto Sans KR', sans-serif !important;
}

.commentDiv {
	background: #f5ffe147;
    margin-top: 2%;
    padding-left: 1%;
}

.commentSecretDialog {
	font-size: 15px;
}

.btn-sm {
    padding: 8px 14px !important;
    line-height: 16px !important;
    height: 40px;
    font-size: 11px !important;
}

.note-icon-caret {
	margin-left: -5px;
}

.btn i {
    margin-right: 5px;
}

.note-current-fontname {
	margin-right: 5px;
	font-size: 12px;
}

.contentsViewBtn {
	float: right; 
}

.pageMove {
	color: black;
    font-weight: bold;
    font-size: 15px;
}

.pageMove:hover {
	color: #ff9494;
}

.right_area {
	margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    width: 60px;
}
